<!DOCTYPE HTML>
<html ng-app>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
		
	<!--JS-->
	<script src="js/phonegap.js"></script> <!--Load PhoneGap-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
	<script src="js/controller.js"></script> <!--Controller-->
	<script src="js/dictionary.js"></script> <!--Load Dictionary-->
	
	<!--CSS-->
	<link rel="stylesheet" href="css/style.css" />
	
</head>
<body align="center">
		
	<h1>Learn Dothraki</h1>
	<br/><br/>

	<div ng-controller="WordSearch">
		<input ng-model="query" placeholder="word to lookup" />

		<br/><br/>
		
		<div ng-repeat="word in dictionary | filter:query">
			<h3>{{word.dothraki}} <i>[{{word.type}}]</i> {{word.english}}</h3>
			<br/>
		</div>
		
	</div>
	
</body>
</html>